{% extends "base.html" %}

{% load crispy_forms_tags %}
{% load tailwind_filters %}

{% block content %}

<!-- Dados Pessoais -->
<div>
    <h2 class="flex items-center justify-between w-full p-2 font-medium text-left border border-[#F45F1D] rounded-t-xl bg-[#F45F1D] text-white">
        <span>Dados pessoais</span>
    </h2>
    <div class="justify-center lg:flex-row items-center lg:space-x-10 xl:space-x-24 border border-[#F45F1D]">
        <div class="px-2 py-2">
            <div class="relative z-0 mb-6 w-full group">
                <input type="nome" name="floating_nome" id="floating_nome" value="{{cliente.nome}}" class="block py-2 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b border-[#F45F1D] appearance-none focus:outline-none focus:ring-0 focus:border-[#F45F1D] peer" placeholder=" " required />
                <label for="floating_nome" class="pt-1 absolute text-sm text-[#F45F1D] duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:left-0 peer-focus:text-[#F45F1D] peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Nome</label>
            </div>
            <div class="grid md:grid-cols-2 md:gap-6">
                <div class="relative z-0 mb-6 w-full group">
                    <input type="text" name="floating_DataNasc" id="floating_DataNasc" value="{{cliente.DataNasc}}" class="block py-2 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b border-[#F45F1D] appearance-none focus:outline-none focus:ring-0 focus:border-[#F45F1D] peer" placeholder=" " required />
                    <label for="floating_DataNasc" class="pt-1 absolute text-sm text-[#F45F1D] duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:left-0 peer-focus:text-[#F45F1D] peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Data Nascimento</label>
                </div>
                <div class="relative z-0 mb-6 w-full group">
                    <input type="tel" pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}" name="floating_phone" id="floating_phone" value="{{cliente.Tel}}" class="block py-2 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b border-[#F45F1D] appearance-none focus:outline-none focus:ring-0 focus:border-[#F45F1D] peer" placeholder=" " required />
                    <label for="floating_phone" class="pt-1 absolute text-sm text-[#F45F1D] duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:left-0 peer-focus:text-[#F45F1D] peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Telefone</label>
                </div>
            </div>
            <div class="relative z-0 mb-6 w-full group">
                <input type="nome" name="floating_email" id="floating_email" value="{{cliente.email}}" class="block py-2 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b border-[#F45F1D] appearance-none focus:outline-none focus:ring-0 focus:border-[#F45F1D] peer" placeholder=" " required />
                <label for="floating_email" class="pt-1 absolute text-sm text-[#F45F1D] duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:left-0 peer-focus:text-[#F45F1D] peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Email</label>
            </div>            
            <div class="relative z-0 mb-6 w-full group">
                <textarea type="nome" name="floating_notas" id="floating_notas" value="{{cliente.Notas}}" class="block py-2 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b border-[#F45F1D] appearance-none focus:outline-none focus:ring-0 focus:border-[#F45F1D] peer" placeholder=" " required /></textarea>
                <label for="floating_notas" class="pt-1 absolute text-sm text-[#F45F1D] duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:left-0 peer-focus:text-[#F45F1D] peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Notas</label>
            </div>
        </div>       
    </div>
</div>



<!-- Botões -->


<div class="inline-flex rounded-md shadow-sm py-1">
    <a href="{% url 'clientes:clientes-lista' %}" aria-current="page" class="py-2 px-4 text-sm font-medium text-[#F45F1D] bg-white rounded-l-lg border border-[#F45F1D] hover:bg-[#F45F1D] hover:text-white focus:text-white">
      Voltar à lista
    </a>
    <a href="{% url 'clientes:clientes-update' cliente.pk %}" class="py-2 px-4 text-sm font-medium text-[#F45F1D] bg-white border-t border-b border-[#F45F1D] hover:bg-[#F45F1D] hover:text-white ">
      Actualizar dados
    </a>
    <a href="{% url 'clientes:tratamento-create' cliente.pk %}" class="py-2 px-4 text-sm font-medium text-[#F45F1D] bg-white border-t border-l border-b border-[#F45F1D] hover:bg-[#F45F1D] hover:text-white ">
        Novo tratamento
    </a>
    <a href="{% url 'clientes:exame-create' cliente.pk %}" class="py-2 px-4 text-sm font-medium text-[#F45F1D] bg-white rounded-r-md border border-[#F45F1D] hover:bg-[#F45F1D] hover:text-white ">
        Novo Exame
    </a>
</div>
  


<!-- Tratamentos e Exames-->

<div id="accordion-color" data-accordion="collapse" data-active-classes="bg-[#F45F1D] text-white" data-inactive-classes="bg-white text-[#F45F1D]">
    <h2 id="accordion-color-heading-1">
      <button type="button" class="flex items-center justify-between w-full p-2 font-medium text-left border border-[#F45F1D] rounded-t-xl bg-[#F45F1D] text-white" data-accordion-target="#accordion-color-body-1" aria-expanded="true" aria-controls="accordion-color-body-1">
        <span>Tratamentos</span>
        <svg data-accordion-icon="" class="w-6 h-6 rotate-180 shrink-0" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
      </button>
    </h2>
    <div id="accordion-color-body-1" class="" aria-labelledby="accordion-color-heading-1">
        <div class="max-h-80 p-2 font-light border border-b border-[#F45F1D] dark:border-gray-700 dark:bg-gray-900 overflow-auto">
            {% if not tratamentos %}
                <center>
                    <h2 class="text-xl md:text-xl font-semibold text-[#F45F1D] justify-center items-center">O cliente ainda não tem tratamentos registados.</h2>
                </center>
            {% else %}
            <table class="min-w-full leading-normal">
                <thead>
                    <tr>
                        <th scope="col" class="px-3 py-3 bg-white  border-b border-[#F45F1D] text-gray-800  text-left text-sm uppercase font-normal">

                        </th>
                        <th scope="col" class="px-3 py-3 bg-white  border-b border-[#F45F1D] text-gray-800  text-left text-sm uppercase font-normal">
                            Data
                        </th>
                        <th scope="col" class="px-3 py-3 bg-white  border-b border-[#F45F1D] text-gray-800  text-left text-sm uppercase font-normal">
                            Tipo de Tratamento
                        </th>
                        <th scope="col" class="px-3 py-3 bg-white  border-b border-[#F45F1D] text-gray-800  text-left text-sm uppercase font-normal">
                            Observações
                        </th>
                    </tr>
                </thead>
                <tbody class="py-1">
                    {% for trat in tratamentos %}
                    <tr>
                        <td class="px-2 py-1 border-b border-[#F45F1D] bg-white text-sm">
                            <a href="{% url 'clientes:tratamento-update' trat.id %}" class="text-indigo-600 hover:text-indigo-900" title="Editar">
                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" stroke-width="1" stroke="black" class="w-6 h-6 hover:stroke-[#F45F1D]">
                                    <path stroke-linecap="round" stroke-linejoin="round" d="M16.862 4.487l1.687-1.688a1.875 1.875 0 112.652 2.652L10.582 16.07a4.5 4.5 0 01-1.897 1.13L6 18l.8-2.685a4.5 4.5 0 011.13-1.897l8.932-8.931zm0 0L19.5 7.125M18 14v4.75A2.25 2.25 0 0115.75 21H5.25A2.25 2.25 0 013 18.75V8.25A2.25 2.25 0 015.25 6H10" />
                                </svg>
                                                                          
                            </a>
                        </td>
                        <td class="px-2 py-1 border-b border-[#F45F1D] bg-white text-sm">
                            {{ trat.datatrat|date:'d-M-Y' }}
                        </td>
                        <td class="px-2 py-1 border-b border-[#F45F1D] bg-white text-sm">
                            {{ trat.get_tipoTrat_display }}
                        </td>
                        <td class="border-b border-[#F45F1D] bg-white text-sm">
                            {{ trat.Descricao }}
                        </td>
                    </tr>
                    {% endfor%}
                    {% endif %}
                </tbody>
            </table>
        </div>      
    </div>

    <h2 id="accordion-color-heading-2">
      <button type="button" class="flex items-center justify-between w-full p-2 font-medium text-left border-l border-r border-b border-[#F45F1D] bg-[#F45F1D] text-white" data-accordion-target="#accordion-color-body-2" aria-expanded="true" aria-controls="accordion-color-body-2">
        <span>Exames</span>
        <svg data-accordion-icon="" class="w-6 h-6 shrink-0" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
      </button>
    </h2>
    <div id="accordion-color-body-2" class="hidden" aria-labelledby="accordion-color-heading-2">
        <div class="max-h-80 p-2 font-light border border-b border-[#F45F1D] dark:border-gray-700 dark:bg-gray-900 overflow-auto">
            {% if not exames %}
                <center>
                    <h2 class="text-xl md:text-xl font-semibold text-[#F45F1D] justify-center items-center">O cliente ainda não tem exames registados.</h2>
                </center>
            {% else %}
            <table class="min-w-full leading-normal">
                <thead>
                    <tr>
                        <th scope="col" class="px-3 py-2 bg-white  border-b border-[#F45F1D] text-gray-800  text-left text-sm uppercase font-normal">

                        </th>
                        <th scope="col" class="px-3 py-2 bg-white  border-b border-[#F45F1D] text-gray-800  text-left text-sm uppercase font-normal">
                            Data do exames
                        </th>
                        <th scope="col" class="px-3 py-2 bg-white  border-b border-[#F45F1D] text-gray-800  text-left text-sm uppercase font-normal">
                            Tipo de exame
                        </th>
                        <th scope="col" class="px-3 py-2 bg-white  border-b border-[#F45F1D] text-gray-800  text-left text-sm uppercase font-normal">
                            Ficheiro
                        </th>
                        <th scope="col" class="px-3 py-2 bg-white  border-b border-[#F45F1D] text-gray-800  text-left text-sm uppercase font-normal">
                            
                        </th>
                    </tr>
                </thead>
                <tbody class="py-1">
                    {% for exam in exames %}
                    <tr>
                        <td class="px-2 py-1 border-b border-[#F45F1D] bg-white text-sm">
                            <a href="{% url 'clientes:exame-update' exam.id %}" class="text-indigo-600 hover:text-indigo-900" title="Editar">
                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" stroke-width="1" stroke="black" class="w-6 h-6 hover:stroke-[#F45F1D]">
                                    <path stroke-linecap="round" stroke-linejoin="round" d="M16.862 4.487l1.687-1.688a1.875 1.875 0 112.652 2.652L10.582 16.07a4.5 4.5 0 01-1.897 1.13L6 18l.8-2.685a4.5 4.5 0 011.13-1.897l8.932-8.931zm0 0L19.5 7.125M18 14v4.75A2.25 2.25 0 0115.75 21H5.25A2.25 2.25 0 013 18.75V8.25A2.25 2.25 0 015.25 6H10" />
                                </svg>
                                                                          
                            </a>
                        </td>
                        <td class="px-2 py-1 border-b border-[#F45F1D] bg-white text-sm">
                            {{ exam.dataex|date:'d-M-Y' }}
                        </td>
                        <td class="px-2 py-1 border-b border-[#F45F1D] bg-white text-sm">
                            {{ exam.Descricao }}
                        </td>
                        <td class="px-2 py-1 border-b border-[#F45F1D] bg-white text-sm">
                            {{exam.Ficheiro}}
                        </td>
                        <td class="px-2 py-1 border-b border-[#F45F1D] bg-white text-sm">
                            <a href="{% url 'clientes:exame-view' exam.id %}" title="Ver exame" target="_blank">
                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" stroke-width="1" stroke="black" class="w-6 h-6 hover:stroke-[#F45F1D]">
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 12a3 3 0 11-6 0 3 3 0 016 0z"></path><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M2.458 12C3.732 7.943 7.523 5 12 5c4.478 0 8.268 2.943 9.542 7-1.274 4.057-5.064 7-9.542 7-4.477 0-8.268-2.943-9.542-7z"></path>
                                </svg>
                            </a>
                        </td>
                    </tr>
                    {% endfor%}

                    {% endif %}
                </tbody>
            </table>

        </div>      
    </div>
 </div>
  

{% endblock content %}

