{% extends 'base.html' %}
{% load static %}

{% block content %}
<p>{{ cliente.nome }}</p>
<table class="min-w-full leading-normal">
    <thead>
        <tr>
            <th scope="col" class="px-3 py-3 bg-white  border-b border-[#F45F1D] text-gray-800  text-left text-sm uppercase font-normal">
                Data
            </th>
            <th scope="col" class="px-3 py-3 bg-white  border-b border-[#F45F1D] text-gray-800  text-left text-sm uppercase font-normal">
                Tipo de Tratamento
            </th>
            <th scope="col" class="px-3 py-3 bg-white  border-b border-[#F45F1D] text-gray-800  text-left text-sm uppercase font-normal">
                Descrição
            </th>
            <th scope="col" class="px-3 py-3 bg-white  border-b border-[#F45F1D] text-gray-800  text-left text-sm uppercase font-normal">
                
            </th>
        </tr>
    </thead>
    <tbody class="py-1">
        {% for trat in tratamento %}
        <tr>
            <td class="px-2 py-3 border-b border-[#F45F1D] bg-white text-sm">
                {{ trat.datatrat|date:'d-M-Y' }}
            </td>
            <td class="px-2 py-3 border-b border-[#F45F1D] bg-white text-sm">
                {{ trat.get_tipoTrat_display }}
            </td>
            <td class="px-2 py-3 border-b border-[#F45F1D] bg-white text-sm">
                {{ trat.Descricao }}
            </td>
            <td class="border-b border-[#F45F1D] bg-white text-sm">
                <a href="" title="Ver detalhes">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" stroke-width="1" stroke="black" class="w-6 h-6 hover:stroke-[#F45F1D]">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M15 9h3.75M15 12h3.75M15 15h3.75M4.5 19.5h15a2.25 2.25 0 002.25-2.25V6.75A2.25 2.25 0 0019.5 4.5h-15a2.25 2.25 0 00-2.25 2.25v10.5A2.25 2.25 0 004.5 19.5zm6-10.125a1.875 1.875 0 11-3.75 0 1.875 1.875 0 013.75 0zm1.294 6.336a6.721 6.721 0 01-3.17.789 6.721 6.721 0 01-3.168-.789 3.376 3.376 0 016.338 0z" />
                    </svg>
                </a>
            </td>
        </tr>
        {% endfor%}

    </tbody>
</table>


{% endblock content %}